<!DOCTYPE html>
<html ng-app="suropati-geo-map">
<!-- cekcek -->

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <title>Suropati Geo Map</title>
  <script>document.write('<base href="' + document.location + '" />');</script>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto" />
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous" />
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.0.2/dist/leaflet.css" />
  <link rel="stylesheet" href="style/style.css" />
  <link rel="stylesheet" href="style/searchbar.css" />
  <link rel="stylesheet" href="style/loading.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
  <script src="https://unpkg.com/leaflet@1.0.2/dist/leaflet.js"></script>
  <script src="shape/geojson-kabupaten.js"></script>
  <script data-require="angular.js@1.3.x" src="https://code.angularjs.org/1.3.16/angular.js"
    data-semver="1.3.16"></script>
  <script src="script/angular-resource.js"></script>
  <script src="script/app.js"></script>
  <script src="script/loading.js"></script>
  <script src="script/backend.js"></script>
  <script src="https://maps.googleapis.com/maps/api/js?v=3.exp"></script>
  <!-- <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD8EJXjEoup97nBeC-Fd1xO65xTHNO2uUc&callback=initMap&libraries=&v=weekly"></script> -->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
    integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
    integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
    crossorigin="anonymous"></script>

</head>

<body ng-controller="AkuPunyaControl">
  <loading></loading>
  <div id="map-canvas"></div>

  <div class="select-date">
    <select class="btn btn-light btn-lg btn-menu" ng-model="prop.value" ng-options="v for v in prop.values" ng-change=up(prop.value)></select>
  </div>
  <div class="search-kabupaten">
    <form>
      <div class="input-group mb-3">
        <div class="input-group-prepend ">
          <span class="input-group-text"><i class="fas fa-search"></i></span>
        </div>
        <input id="search-kabupaten" type="text" class="form-control" placeholder="Search Kabupaten">
      </div>
    </form>
    <!-- <i class="fa fa-envelope icon"> </i>
    <input id="search-kabupaten" type="text" class="form-control" placeholder="Search Kabupaten"> -->
  </div>


  <div class="side-menu">
    <div class="row">
      <div class="col menu">
        <ul class="nav flex-column">


          <!-- - Device Share -->
          <li class="nav-item menu-item ">
            <button type="button" class="btn btn-light btn-lg btn-menu menu-active"
              ng-click="DS('DEVICE SHARE','device_share','inc')">
                        DEVICE SHARE
            </button>
          </li>
          <!-- - Excellent Quality -->
          <li class="nav-item menu-item">
            <button type="button" class="btn btn-light btn-lg btn-menu"
              ng-click="EQ('EXCELLENT QUALITY','excellent_quality','inc')">
                        EXCELLENT QUALITY
            </button>
          </li>
          <!-- - HD Quality -->
          <li class="nav-item menu-item">
            <button type="button" class="btn btn-light btn-lg btn-menu"
              ng-click="HRQ('HD QUALITY','hd_quality','inc')">
                        HD QUALITY
            </button>
          </li>
          <!-- - Good Quality -->
          <li class="nav-item menu-item">
            <button type="button" class="btn btn-light btn-lg btn-menu" ng-click="GQ('GOOD QUALITY','good_quality','inc')">
                        GOOD QUALITY
            </button>
          </li>
          <!-- - Games Parameter -->
          <li class="nav-item menu-item">
            <button type="button" class="btn btn-light btn-lg btn-menu"
              ng-click="GP('GAMES PARAMETER','game_parameter','inc')">
                        GAMES PARAMETER
            </button>
          </li>
          <!-- - Video Score -->
          <li class="nav-item menu-item">
            <button type="button" class="btn btn-light btn-lg btn-menu" ng-click="VS('VIDEO SCORE','video_score','inc')">
                        VIDEO SCORE
            </button>
          </li>
          <!-- - ENodeB Share -->
          <li class="nav-item menu-item">
            <button type="button" class="btn btn-light btn-lg btn-menu"
              ng-click="ES('ENODEB SHARE','enodeb_share','inc')">
              ENODEB SHARE
            </button>
          </li>
          <!-- - Good Coverage Share -->
          <li class="nav-item menu-item">
            <button type="button" class="btn btn-light btn-lg btn-menu"
              ng-click="GC('GOOD COVERAGE','grid_signal_good','inc')">
                        GOOD COVERAGE
            </button>
          </li>
          <!-- - Coverage Share -->
          <li class="nav-item menu-item">
            <button type="button" class="btn btn-light btn-lg btn-menu" ng-click="CH('COVERAGE SHARE','coverage_km2','km')">
                        COVERAGE SHARE
            </button>
          </li>
          <!-- - Avg DL Throughput -->
          <li class="nav-item menu-item">
            <button type="button" class="btn btn-light btn-lg btn-menu"
              ng-click="ADT('AVG DL TPUT','avg_download_throughput','kbps')">
                        AVG DL TPUT
            </button>
          </li>
          <!-- - Avg UL Throughput -->
          <li class="nav-item menu-item">
            <button type="button" class="btn btn-light btn-lg btn-menu"
              ng-click="AUT('AVG UL TPUT','avg_upload_throughput','kbps')">
                        AVG UL TPUT
            </button>
          </li>
          <!-- - Avg Latency -->
          <li class="nav-item menu-item">
            <button type="button" class="btn btn-light btn-lg btn-menu" ng-click="AL('AVG LATENCY','avg_latency','ms')">
                        AVG LATENCY
            </button>
          </li>
          <!-- - Avg Jitter -->
          <li class="nav-item menu-item">
            <button type="button" class="btn btn-light btn-lg btn-menu" ng-click="AJ('AVG JITTER','avg_jitter','ms')">
                        AVG JITTER
            </button>
          </li>
          <!-- - Avg Packet Loss -->
          <li class="nav-item menu-item">
            <button type="button" class="btn btn-light btn-lg btn-menu"
              ng-click="APL('AVG PKT LOSS','avg_packetloss','number')">
                        AVG PACKET LOSS
            </button>
          </li>

        </ul>
      </div>

    </div>


  </div>
  </div>
  </div>

  <div id="kab-detail" class="kabupaten-detail">
    <div class="card kab-card-detail">
      <div class="card-body">
        <p class="title-text">W29 Winner : {{wins29.op}}</p>
        <h6 id="operator-win29" class="detail-text"></h6>
        <p class="title-text">W{{wee}} Winner : {{wins.op}}</p>
        <h6 id="operator-win" class="detail-text"></h6>
      </div>
    </div>
    <div class="card week-card-detail">
      <div class="card-body">
        <h6 class="card-text">{{title_card | setdah}} Week : {{wee}}<a id="weekly-bot"></a></h6>
        <div class="legend-container">
          <div class="legend" style="background-color: #DD2616">d</div>
          <div class="legend-text">Telkomsel : {{t.length}} |
            {{((t.length/(t.length + x.length + io.length + s.length + tr.length))*100) | setisdua}}%</div>
        </div>
        <div class="legend-container">
          <div class="legend" style="background-color:#436FCF">d</div>
          <div class="legend-text">XL : {{x.length}} |
            {{((x.length/(t.length + x.length + io.length + s.length + tr.length))*100) | setisdua}}%</div>
        </div>
        <div class="legend-container">
          <div class="legend" style="background-color: #FFD50F">d</div>
          <div class="legend-text">Indosat Ooredoo : {{io.length}} |
            {{((io.length/(t.length + x.length + io.length + s.length + tr.length))*100) | setisdua}}%</div>
        </div>
        <div class="legend-container">
          <div class="legend" style="background-color: #e56ae9">d</div>
          <div class="legend-text">Smartfren : {{s.length}} |
            {{((s.length/(t.length + x.length + io.length + s.length + tr.length))*100) | setisdua}}%</div>
        </div>
        <div class="legend-container">
          <div class="legend" style="background-color:#383838">d</div>
          <div class="legend-text">3 : {{tr.length}} |
            {{((tr.length/(t.length + x.length + io.length + s.length + tr.length))*100) | setisdua}}%</div>
        </div>
      </div>
    </div>
    <div class="card week-card-detail">
      <div class="card-body">
        <h6 class="card-text">{{title_card | setdah}} Week : 29</a></h6>
        <div class="legend-container">
          <div class="legend" style="background-color: #DD2616">d</div>
          <div class="legend-text" id="tsel-value29">Telkomsel : {{t29.length}} |
            {{((t29.length/(t29.length + x29.length + io29.length + s29.length + tr29.length))*100) | setisdua}}% </div>
        </div>
        <div class="legend-container">
          <div class="legend" style="background-color: #2F6BB4">d</div>
          <div class="legend-text" id="xl-value29">XL : {{x29.length}} |
            {{((x29.length/(t29.length + x29.length + io29.length + s29.length + tr29.length))*100) | setisdua}}% </div>
        </div>
        <div class="legend-container">
          <div class="legend" style="background-color: #FFD50F">d</div>
          <div class="legend-text" id="sat-value29">Indosat Ooredoo : {{io29.length}} |
            {{((io29.length/(t29.length + x29.length + io29.length + s29.length + tr29.length))*100) | setisdua}}%
          </div>
        </div>
        <div class="legend-container">
          <div class="legend" style="background-color: #A944B5">d</div>
          <div class="legend-text" id="sf-value29">Smartfren : {{s29.length}} |
            {{((s29.length/(t29.length + x29.length + io29.length + s29.length + tr29.length))*100) | setisdua}}% </div>
        </div>
        <div class="legend-container">
          <div class="legend" style="background-color:#383838">d</div>
          <div class="legend-text" id="tree-value29">3 : {{tr29.length}} |
            {{((tr29.length/(t29.length + x29.length + io29.length + s29.length + tr29.length))*100) | setisdua}}%
          </div>
        </div>

      </div>
    </div>
    
  </div>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js"></script>
  <script>
    var countries = ["Afghanistan", "Albania", "Algeria", "Andorra", "Angola", "Anguilla", "Antigua & Barbuda", "Argentina", "Armenia", "Aruba", "Australia", "Austria", "Azerbaijan", "Bahamas", "Bahrain", "Bangladesh", "Barbados", "Belarus", "Belgium", "Belize", "Benin", "Bermuda", "Bhutan", "Bolivia", "Bosnia & Herzegovina", "Botswana", "Brazil", "British Virgin Islands", "Brunei", "Bulgaria", "Burkina Faso", "Burundi", "Cambodia", "Cameroon", "Canada", "Cape Verde", "Cayman Islands", "Central Arfrican Republic", "Chad", "Chile", "China", "Colombia", "Congo", "Cook Islands", "Costa Rica", "Cote D Ivoire", "Croatia", "Cuba", "Curacao", "Cyprus", "Czech Republic", "Denmark", "Djibouti", "Dominica", "Dominican Republic", "Ecuador", "Egypt", "El Salvador", "Equatorial Guinea", "Eritrea", "Estonia", "Ethiopia", "Falkland Islands", "Faroe Islands", "Fiji", "Finland", "France", "French Polynesia", "French West Indies", "Gabon", "Gambia", "Georgia", "Germany", "Ghana", "Gibraltar", "Greece", "Greenland", "Grenada", "Guam", "Guatemala", "Guernsey", "Guinea", "Guinea Bissau", "Guyana", "Haiti", "Honduras", "Hong Kong", "Hungary", "Iceland", "India", "Indonesia", "Iran", "Iraq", "Ireland", "Isle of Man", "Israel", "Italy", "Jamaica", "Japan", "Jersey", "Jordan", "Kazakhstan", "Kenya", "Kiribati", "Kosovo", "Kuwait", "Kyrgyzstan", "Laos", "Latvia", "Lebanon", "Lesotho", "Liberia", "Libya", "Liechtenstein", "Lithuania", "Luxembourg", "Macau", "Macedonia", "Madagascar", "Malawi", "Malaysia", "Maldives", "Mali", "Malta", "Marshall Islands", "Mauritania", "Mauritius", "Mexico", "Micronesia", "Moldova", "Monaco", "Mongolia", "Montenegro", "Montserrat", "Morocco", "Mozambique", "Myanmar", "Namibia", "Nauro", "Nepal", "Netherlands", "Netherlands Antilles", "New Caledonia", "New Zealand", "Nicaragua", "Niger", "Nigeria", "North Korea", "Norway", "Oman", "Pakistan", "Palau", "Palestine", "Panama", "Papua New Guinea", "Paraguay", "Peru", "Philippines", "Poland", "Portugal", "Puerto Rico", "Qatar", "Reunion", "Romania", "Russia", "Rwanda", "Saint Pierre & Miquelon", "Samoa", "San Marino", "Sao Tome and Principe", "Saudi Arabia", "Senegal", "Serbia", "Seychelles", "Sierra Leone", "Singapore", "Slovakia", "Slovenia", "Solomon Islands", "Somalia", "South Africa", "South Korea", "South Sudan", "Spain", "Sri Lanka", "St Kitts & Nevis", "St Lucia", "St Vincent", "Sudan", "Suriname", "Swaziland", "Sweden", "Switzerland", "Syria", "Taiwan", "Tajikistan", "Tanzania", "Thailand", "Timor L'Este", "Togo", "Tonga", "Trinidad & Tobago", "Tunisia", "Turkey", "Turkmenistan", "Turks & Caicos", "Tuvalu", "Uganda", "Ukraine", "United Arab Emirates", "United Kingdom", "United States of America", "Uruguay", "Uzbekistan", "Vanuatu", "Vatican City", "Venezuela", "Vietnam", "Virgin Islands (US)", "Yemen", "Zambia", "Zimbabwe"];
    autocomplete(document.getElementById("search-kabupaten"), data_kabupaten);

  </script>
</body>

</html>