/*the container must be positioned relative:*/
.autocomplete {
    position: relative;
    display: inline-block;
  }
  
  input {
    /* border: 1px solid transparent; */
    background-color: #ffffffd3;
    padding: 10px;
    font-size: 16px;
    border-radius: 8px;
  }
  
  input[type=text] {
    background-color: #ffffffc9;
    width: 100%;
  }
  
  input[type=submit] {
    background-color: DodgerBlue;
    color: rgba(255, 255, 255, 0.801);
    cursor: pointer;
  }
  
  .autocomplete-items {
    position: absolute;
    /* border: 1px solid #d4d4d4; */
    border-bottom: none;
    border-top: none;
    z-index: 99;
    /*position the autocomplete items to be the same width as the container:*/
    top: 100%;
    left: 0;
    right: 0;
  }
  
  .autocomplete-items div {
    padding: 10px;
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.801); 
    border-bottom: 1px solid #d4d4d4; 
  }
  
  /*when hovering an item:*/
  .autocomplete-items div:hover {
    background-color: #ffffff; 
  }
  
  /*when navigating through the items using the arrow keys:*/
  .autocomplete-active {
    background-color: DodgerBlue !important; 
    color: #ffffffda; 
  }