/* Put your css in here */
* {
  margin: 0;
  padding: 0;
} /* to remove the top and left whitespace */
html,
body {
  width: 100%;
  height: 100%;
  font-family: "Roboto", serif;
} /* just to be sure these are full screen*/
canvas {
  display: block;
} /* To remove the scrollbars */
#map-canvas {
  min-width: 100%;
  min-height: 100%;
}

.card-body {
  padding: 0.5rem;
}
.gm-style-iw + button {
  display: none;
}
.side-menu {
  height: auto;
  float: left;
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: 1000;
  padding: 16px;
}

.kabupaten-detail {
  height: auto;
  width: auto;
  position: absolute;
  float: right;
  right: 0;
  top: 0;
  z-index: 1000;
  padding: 16px;
  /* filter: blur(20px); */
}

.week-detail {
  height: auto;
  width: auto;
  position: absolute;
  right: 0;
  bottom: 100px;
  z-index: 1000;
  padding: 16px;
  /* filter: blur(20px); */

  /* visibility: hidden; */
}

.kab-card-detail {
  width: 18rem;
  border-radius: 8dp;
  background-color: rgba(255, 255, 255, 0.8);
}

.week-card-detail {
  width: 18rem;
  margin-top: 16px;
  border-radius: 8dp;
  background-color: rgba(255, 255, 255, 0.8);
}

.menu {
  min-height: auto;
  max-height: calc(100vh - 40px);
  overflow: auto;
}

.menu::-webkit-scrollbar {
  display: none;
}

.menu-item {
}

.btn-menu {
  width: 180px;
  border-radius: 16px;
  font-size: 14px;
  margin-bottom: 12px;
  border: 0;
}

.card {
  border: none;
}

#yearweek-dropdown {
  background: transparent;
  border: none;
}

.week-share-text {
  font-size: 15px;
  margin: 0px;
}
.legend-container {
  position: relative;
}

.legend {
  display: inline-block;
  color: rgba(0, 0, 0, 0);
  width: 1.1em;
  height: 1.5em;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.legend-text {
  margin-left: 2em;
  font-size: 12px;
  padding: 0px;
  display: inline-block;
}

.title-text {
  font-size: 13px;
  padding: 0px;
  margin: 0;
  padding: 0;
  color: #474747;
}

.detail-text {
  font-size: 17px;
  margin: 0;
  padding: 0;
  margin-bottom: 8px;
}

.card-infowindow {
  width: 18rem;
  z-index: 2000;
}

@media screen and (max-width: 1281px) {
  .card-infowindow {
    width: 18rem;
    z-index: 2000;
  }

  .btn-menu {
    width: 120px;
    font-size: 10px;
  }

  .detail-text {
    font-size: 10px;
  }

  .title-text {
    font-size: 8px;
  }

  .kab-card-detail {
    width: 10rem;
  }
  .week-card-detail {
    width: 10rem;
  }
  .legend {
    width: 1.2em;
    height: 1.2em;
  }
  .legend-text {
    margin-left: 2em;
    font-size: 10px;
  }
  .card-text {
    font-size: 10px;
  }
  .card-body {
    font-size: 10px;
  }

  
}
.leaflet-fade-anim .leaflet-popup {
  transition: none;
}

.leaflet-popup-content{
  margin: 4px;
}

.leaflet-popup-close-button{
  visibility: hidden;
}

.leaflet-popup-content-wrapper{
  background-color: rgba(255, 255, 255, 0.9);
}

.menu-active{
  background-color: #9c9c9c !important;
  color: white !important;
}

.select-date {
  position: absolute;
  top: 0;
  left: 210px;
  margin-top: 16px;
  z-index: 10000;
}

.search-kabupaten {
  display: inline-block;
  position: absolute;
  top: 0;
  width: 300px;
  left: calc(50vw - 150px);
  margin-top: 16px;
  z-index: 10000;
}
/* .fa-search{
  display: table-cell;
} */

.leaflet-touch .leaflet-bar a {
  width: 50px;
  height: 50px;
  line-height: 50px;
}